@model IEnumerable<Entities.JsonDataClasses.Valute>

@{
    ViewData["Title"] = "Список котировок";
}

<h2>Котировки</h2>

<table>
    <thead>
    <tr>
        <th>Индекс</th>
        <th>Наименвоание</th>
        <th>Номинал</th>
        <th>Предыдущее значение</th>
        <th>Текущее значение</th>
        <th>Кодировка</th>
        <th>Численный код</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Previous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCode)
            </td>
                
        </tr>
    }
    </tbody>
</table>